body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background: #080202;
    color: white;
}

img{
    display: "block";
    width:70%;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 10rem 5;

}

.tabs{
    background: #F7F7F7;
    border-radius: .5rem;
    grid-template-columns: auto 1fr;
}

.button{
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: blue;
    cursor: pointer;
    transition: all.3s linear;
    letter-spacing: .25rem;
}
.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.botton:nth-child(1){
    border-top-left-radius: 0.5rem;
}

.botton:nth-child(3){
    border-top-left-radius: 0.5rem;
}

.button:hover{
    background: white;
    color: black;
}

.tabs-content{
    padding: 2rem 1.5rem;
}

@media (min-width:992px) {
    .image{
        margin-bottom: 0;  
    }
    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}